.banner{
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.banner__container{
    display: flex;
    align-items: center;
}

.banner__left{
    margin-left: -155px;
    margin-right: 110px;
    line-height: 0;
}

.banner__right{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 630px;
}

.banner__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
}

.banner__description{
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}

.banner__down{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 113px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;

}

.banner__down-img{
    filter: drop-shadow(4px 7px 20px transparent);
    transition: filter 0.3s ease;
    margin-bottom: 13px;
}

.banner__down:hover .banner__down-img{
    filter: drop-shadow(4px 7px 20px var(--second-color));
}

@media(max-width: 1440px) {
    .banner__img{
        width: 41vw;
    }
    .banner__left{
        margin-left: -70px;
        margin-right: 55px;
    }
    .banner__right{
        max-width: 550px;
    }
    .banner__title{
        font-size: 60px;
    }
    .banner__description{
        font-size: 24px;
    }
}
@media(max-width: 1200px) {
    .banner__left{
        margin-left: -42px;
    }
    .banner__right{
        max-width: 445px;
    }
    .banner__title{
        font-size: 50px;
        margin-bottom: 25px;
    }
    .banner__description{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .banner__down{
        max-width: 75px;
        font-size: 16px;
    }
    .banner__down-img{
        width: 65px;
        margin-bottom: 9px;
    }
}
@media(max-width: 1000px) {
    .banner__left{
        margin-left: -39px;
        margin-right: 50px;
    }
    .banner__right{
        max-width: 360px;
    }
    .banner__title{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .banner__description{
        font-size: 16px;
    }
    .banner__down{
        max-width: 66px;
        font-size: 14px;
    }
    .banner__down-img{
        width: 40px;
        margin-bottom: 7px;
    }
}
@media(max-width: 760px) {
    .banner__container{
        flex-direction: column;
    }
    .banner__left{
        margin: 0;
    }
    .banner__img{
        width: 100%;
    }
    
}
@media(max-width: 580px) {
    .banner__left{
        margin: 0 -10px;
    }
    .banner__title{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .banner__description{
        font-size: 14px;
        margin-bottom: 16px;
    }
    .banner__down{
        max-width: 57px;
        font-size: 12px;
    }
    .banner__down-img{
        width: 40px;
    }
}


